body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
main {
    padding: 20px;
}
section {
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #282c34;
    color: white;
}
#matches{
    background-color: black;
}
h2{
    color: white;
}
#standings{
    background-color: black;
}
h2{
    color: white;
}
#voting{
    background-color: black;
}
h3{
    color: white;
}
#comment-button{
    display: block;
    background-color: black;
    padding: 7px;
    margin-top: 10px;
}
#comment-button{
    background-color: #ddd;
}
#comments{
    background-color: black;
}
h2{
    color: white;
}
p{
    display: block;
    margin-left: 20px;
    color: white;
    text-align: center;
}
